$color-brand: #ff6140;
$color-brand-light: #ff8970;
$color-brand-dark: #cc4e33;
$color-border-base: #ccc;

@import '~taro-ui/dist/style/components/button.scss';

.at-loading,
.at-loading__ring {
  width: 32px;
  height: 32px;
}

.bluetoothPage {
  padding: 30px;
}

.deviceList {
  .item {
    display: flex;
    color: #333;
    padding: 16px 8px;
    font-size: 28px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    // prettier-ignore
    border-bottom: 1Px solid #d6d6d6;

    .name {
      width: 200px;
      margin-right: 16px;
    }

    .deviceId {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
